
/* unvisited link */
a:link {
	text-decoration: none;
	color: tomato;
  }
  
  /* visited link */
  a:visited {
	color: rgb(187, 55, 31);
  }
  
  /* mouse over link */
  a:hover {
	color: white;
  }
  
  /* selected link */
  a:active {
	color: rgb(243, 134, 115);
  }

.panel1{	
	transform: translate3d(35%,200%,0) scale(3);
	height: 30%;
	width:15%;
}

.panel2{
	transform: translate3d(35%,180%,0) scale(3);
	height: 45%;
	width:22.5%;
	opacity:0;
	margin-left: -16%;
}

.panel3{
	transform: translate3d(35%,160%,0) scale(3);
	height: 67.5%;
	width:33%;
	opacity:0;
	margin-left: -26%;
}

.panel4{
	transform: translate3d(35%,150%,0) scale(3);
	height: 90%;
	width:48%;
	opacity:0;
	margin-left: -36%;
}

.titlu{
	color: rgb(255, 255, 255);
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	text-align: right;
	text-shadow: 0.8px -0.8px 2px black;
}

.subtitlu{
	overflow: hidden;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	
	font-style: italic;
	font-size: 1.5rem;
	text-align: right;
	text-shadow: 0.8px -0.8px 2px black;
	text-align: left;
}

.linie{
	background-color: tomato;
	border: none;
	height: 0.4rem;
	text-shadow: 0.5px -0.5px 2px black;
}
#t2{
	font-size: 2.5rem
}
#s2{
	text-align: left;
}

#t3{
	font-size: 3rem;
}

#t4{
	font-size: 3.5rem;
}

#p3{
	font-size: 3rem;
}

#p4{
	font-size: 3.5rem;
}
#content{
	z-index:0;
}

.movers{
	z-index:13;
	position: fixed;
	top: 0%;
	left: 50%;
	background-color: rgba(56, 56, 56, 0.247);
}

.zoom{
	overflow: hidden;
}
.zoom img{
	z-index:10;
	position: fixed;
	top: 0%;
	width: 100%;
	transform: translate3d(0,-35%,0) scale(3);
}

@media (max-width: 667px) {
	.content{
		z-index: 0;
	}
	.zoom{
		overflow: hidden;
	}

}